/.idea/.idea.DocFX-template.dir/.idea/.gitignore
/.idea/.idea.DocFX-template.dir/.idea/riderModule.iml
/.idea/.idea.DocFX-template.dir/.idea/encodings.xml
/.idea/.idea.DocFX-template.dir/.idea/indexLayout.xml
/.idea/.idea.DocFX-template.dir/.idea/vcs.xml
