<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="../class-reference.xsl"?>
<doc>
  {{>partials/head}}
      <type>
		<name>{{uid}}</name>
                {{!body}}
          {{>partials/affix}}
      </type>
</doc>
